<app-pagina-gerenciamento
  titulo="Gerenciamento de Categorias"
  icone="category"
  rotuloAdicionar="Adicionar Categoria"
  (aoAdicionar)="adicionar()"
  (aoFiltrar)="abrirFiltros()"
>
  <app-categoria-tabela
    [dados]="resposta().dados"
    [totalElementos]="resposta().totalElementos"
    [tamanhoPagina]="20"
    [paginaAtual]="resposta().paginaAtual"
    [carregando]="carregando()"
    [ordenacao]="parametrosAtuais().sort ?? 'nome,asc'"
    (aoMudarPagina)="irParaPagina($event.pageIndex)"
    (aoMudarOrdem)="ordenar($event.active)"
    (aoVisualizar)="visualizar($event)"
    (aoEditar)="editar($event)"
    (aoAlternarEstado)="alternarEstado($event)"
  />
</app-pagina-gerenciamento>